<!DOCTYPE html>
<html lang="de">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <div class="content-wrapper">
      <main>
        <section>
          <h2>Basisinformationen</h2>
          <p><span class="bigger">Modul-ID:</span> <%= kurs.modulId %></p>
          <p><span class="bigger">Typ:</span> <%= kurs.typ %></p>
        </section>

        <section>
          <h2>Lehrperson</h2>
          <p><span class="bigger">ID:</span> <%= kurs.lehrperson.kuerzel %></p>
          <p><span class="bigger">Nachname:</span> <%= kurs.lehrperson.name %></p>
        </section>

        <section>
          <h2>Termin</h2>
          <p><span class="bigger">Wochentag:</span> <%= kurs.termin.wochentag %></p>
          <p><span class="bigger">Beginn:</span> <%= kurs.termin.beginn %></p>
          <p><span class="bigger">Raum:</span> <%= kurs.termin.raum %></p>
        </section>
      </main>

      <% include partials/aside %>
    </div>

    <% include partials/footer %>
  </body>
</html>
